/*[class^="icon-"], [class*=" icon-"], .list-styled > li:before {
  position: relative;
  text-transform: none;
  font-family: "icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

.text_container ul > li {
  padding-left: 26px;
}

.text_container ul > li:before {
  display: block;
  content: '';
  top: 8px;
  background-color: #c61b28;
  font-size: 12px;
  height: 6px;
  width: 6px;
}

.text_container ul ul {
  margin-top: 15px !important;
}


@media (min-width: 992px) {
  .text_container ul {
    //margin-left: -26px;
  }
}

.text_container p+h2 {
	margin-top: 42px;
}

.dropdown-menu {
  z-index: 1002;
}

.nav {
  position: relative;
  z-index: 1001;
}

.breadcrumbs {
  position: relative;
  z-index: 1000;
}

.m0 {
  margin: 0 !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mt90 {
  margin-top: 90px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.mb90 {
  margin-bottom: 90px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.invise {
  //opacity: 0.2;
  display: none;
}

table small {
  color: #999;
}

.hero__img {
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center top;
}

.text p {
  text-align: justify;
}

.cases__item-text.text p {
  text-align: center;
}

.table-long th{
  text-align: center;
}

hr {
  border-color: #eee;
}

.pull-right-img {
  max-width: 250px;
  margin-left: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  .pull-right-img {
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
    clear: both;
  }
}

.mfp-content {
  height:90%;
  overflow: hidden;
} 

.ttu {
  text-transform: uppercase;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.mr30 {
  margin-right: 30px;
}

.mr40 {
  margin-right: 40px;
}

.mr50 {
  margin-right: 50px;
}

.mr60 {
  margin-right: 60px;
}

.mr70 {
  margin-right: 70px;
}

.mr80 {
  margin-right: 80px;
}

.mr90 {
  margin-right: 90px;
}

.mr100 {
  margin-right: 100px;
}

.pt0 {
  padding-top: 0 !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.table-centred tr th:first-child,
.table-centred tr td:first-child{
  text-align: right;
}

.table-centred tr th,
.table-centred tr td{
  text-align: left;
  vertical-align: top;
}

.table-centred thead th,
.table-centred thead td{
  font-weight: 700;
  text-transform: uppercase;
}

.table-centred thead+tbody tr:nth-child(even) th,
.table-centred thead+tbody tr:nth-child(even) td {
  background-color: #ebf0f5;
}

.table-centred thead+tbody tr:nth-child(odd) th,
.table-centred thead+tbody tr:nth-child(odd) td {
  background-color: transparent;
}


@media (min-width: 768px) {
  .header__contacts-location {
    text-align: right;
  }
}

.phone_understroke {
  position: relative;
  top: -3px;
  font-size: 12px;
  color: #C41F2E;
}

.hero__title {
  line-height: 1;
}

.hero__text p{
  text-align: center;
}

.button_fixed {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

.button_rotate {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.button_totop {
  background-color: #C71927;
  color: #fff;
}

.button_totop:hover {
  color: #fff;
}

.range-slider-block {
  top: 10px;
}

.calculator__steps .steps__item:before{
  font-family: "Roboto", Arial, "Helvetica Neue", sans-serif !important;
}

.table__col_3 {
  
}

.table__col_3 td,
.table__col_3 th{
  background-color: #fff !important;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.table__col_3 td p:last-child,
.table__col_3 th p:last-child{
  padding-bottom: 0;
  margin: 0 0 10px 0;
}

.table__col_3 th{
  width: 33.3333%;
  text-align: left;
  vertical-align: top !important;
}

.table__col_3 td{
  text-align: left;
  vertical-align: top !important;
}

.input__text {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  border: 1px solid rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  outline: 0;
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 42px;
  text-align: left;
}
