@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,400i,500,700&subset=cyrillic");
/*! normalize.css v4.2.0 | MIT License | github.com/necolas/normalize.css */
html {
      -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;

  -webkit-text-decoration-skip: objects;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
          text-decoration: underline;
          text-decoration: underline dotted;
  border-bottom: none;

  -webkit-text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  overflow: visible;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;

  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-input-placeholder {
  opacity: 0.54;
  color: inherit;
}

::-webkit-file-upload-button {
  font: inherit;

  -webkit-appearance: button;
}

@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  p::first-line,
  div::first-line,
  blockquote::first-line,
  li::first-line {
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  abbr[title]::after {
    content: " (" attr(title) ")";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #ebf0f5;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000000 !important;
  }
  .tag {
    border: 1px solid #000000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #ffffff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dddddd !important;
  }
}

@font-face {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;

  src: url("/fonts/icons.eot?z51ce5");
  src: url("/fonts/icons.eot?z51ce5#iefix") format("embedded-opentype"), url("/fonts/icons.ttf?z51ce5") format("truetype"), url("/fonts/icons.woff?z51ce5") format("woff"), url("/fonts/icons.svg?z51ce5#icons") format("svg");
}

[class^="icon-"], [class*=" icon-"], .list-styled > li:before, .slick-arrow:before {
  position: relative;
  text-transform: none;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 1;

  speak: none;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caret-left:before,
.slick-prev:before {
  content: "\e914";
}

.icon-caret-right:before,
.slick-next:before {
  content: "\e915";
}

.icon-arrow-sm:before {
  content: "\e900";
}

.icon-arrow:before {
  content: "\e901";
}

.icon-bubles:before {
  content: "\e902";
}

.icon-check:before,
.list-styled > li:before {
  content: "\e903";
}

.icon-close:before {
  content: "\e904";
}

.icon-contract:before {
  content: "\e905";
}

.icon-doc:before {
  content: "\e906";
}

.icon-docs:before {
  content: "\e907";
}

.icon-geo .path1:before {
  content: "\e908";
  color: black;
}

.icon-geo .path2:before {
  margin-left: -1em;
  content: "\e909";
  color: white;
}

.icon-graph:before {
  content: "\e90a";
}

.icon-handshake:before {
  content: "\e90b";
}

.icon-lawyer:before {
  content: "\e90c";
}

.icon-man-with-money:before {
  content: "\e90d";
}

.icon-menu:before {
  content: "\e90e";
}

.icon-money:before {
  content: "\e90f";
}

.icon-question:before {
  content: "\e910";
}

.icon-shield:before {
  content: "\e911";
}

.icon-statement:before {
  content: "\e912";
}

.icon-tel:before {
  content: "\e913";
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

@-ms-viewport {
  width: device-width;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;

  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  color: #637282;
  background-color: #ffffff;
  font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4285714286;
}

[tabindex="-1"]:focus {
  outline: none !important;
}

a {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  text-decoration: none;
  color: #c61b28;
  outline: 0;
}

a:focus, a:hover {
  text-decoration: underline;
  color: #c61b28;
  outline: 0;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

[role="button"] {
  cursor: pointer;
}

a,
area,
button,
[role="button"],
input,
label,
select,
summary,
textarea {
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
textarea {
  line-height: inherit;
}

input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: default;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5em;
  line-height: inherit;
}

input[type="search"] {
  -webkit-appearance: none;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none;
}

.page {
  overflow-x: hidden;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px 10px 6px;
  line-height: 1.1428571429;
}

table th {
  text-align: right;
  font-weight: 700;
}

table td {
  text-align: left;
}

table tr:nth-child(odd) th,
table tr:nth-child(odd) td {
  background-color: #ebf0f5;
}

table tr:last-child th,
table tr:last-child td {
  background-color: #ebf0f5;
}

@media (min-width: 992px) {
  table th,
  table td {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.table-equal {
  table-layout: fixed;
}

.table-wrap {
  overflow-x: auto;
}

.table-wrap:not(:last-child) {
  margin-bottom: 47px;
}

@media (max-width: 767px) {
  .table-responsive th,
  .table-responsive td {
    display: block;
    text-align: left;
  }
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: 0;
  color: #1b2733;
  font-weight: 500;
}

h1, .h1 {
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 1.1666666667;
}

h2, .h2 {
  margin-bottom: 42px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 1.1666666667;
}

h3, .h3 {
  margin-bottom: 19px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.1666666667;
}

h4, .h4 {
  margin-bottom: 17px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
}

h5, .h5 {
  font-size: 18px;
  line-height: 1.1666666667;
}

h6, .h6 {
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 1.4285714286;
}

p,
address,
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

p:last-child,
address:last-child,
ol:last-child,
ul:last-child,
dl:last-child {
  margin-bottom: 0;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

.text-primary {
  color: #c61b28;
}

.text-gray {
  color: #ebf0f5;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text ul, .text ol {
  padding: 0;
  list-style: none;
}

.text ul > li, .text ol > li {
  position: relative;
  margin-bottom: 20px;
}

.text ul > li:before, .text ol > li:before {
  position: absolute;
  left: 0;
}

.text .list-styled > li {
  padding-left: 26px;
}

.text .list-styled > li:before {
  top: 3px;
  color: #c61b28;
  font-size: 12px;
}

.text ol {
  counter-reset: ol-counter;
}

.text ol > li {
  padding-left: 20px;
}

.text ol > li:before {
  position: absolute;
  top: 0;
  content: counter(ol-counter) ".";
  counter-increment: ol-counter;
  color: #c61b28;
}

.text_lg {
  font-size: 18px;
  line-height: 1.3888888889;
}

@media (min-width: 992px) {
  .text .list-styled {
    margin-left: -26px;
  }
}

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 25px;
  padding-left: 25px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    max-width: 100%;
  }
}

.container_xs {
  max-width: 1000px;
}

@media (max-width: 1199px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 992px) {
  .container_xs {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media (min-width: 1200px) {
  .container_md {
    padding-right: 100px;
    padding-left: 100px;
  }
  .container_sm {
    padding-right: 160px;
    padding-left: 160px;
  }
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -25px;
  margin-left: -25px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 25px;
  padding-left: 25px;
}

.col-xs-1 {
  max-width: 8.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
}

.col-xs-2 {
  max-width: 16.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
}

.col-xs-3 {
  max-width: 25%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-xs-4 {
  max-width: 33.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
}

.col-xs-5 {
  max-width: 41.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
}

.col-xs-6 {
  max-width: 50%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-xs-7 {
  max-width: 58.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
}

.col-xs-8 {
  max-width: 66.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
}

.col-xs-9 {
  max-width: 75%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.col-xs-10 {
  max-width: 83.3333333333%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
}

.col-xs-11 {
  max-width: 91.6666666667%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
}

.col-xs-12 {
  max-width: 100%;

  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

@media (min-width: 576px) {
  .col-sm-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-sm-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-sm-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-sm-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-sm-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-sm-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-sm-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-sm-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-sm-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-sm-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-sm-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-sm-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-md-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-md-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-md-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-md-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-md-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-md-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-md-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-md-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-md-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-md-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-md-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-lg-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-lg-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-lg-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-lg-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-lg-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-lg-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-lg-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-lg-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-lg-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-lg-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-lg-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    max-width: 8.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.3333333333%;
            flex: 0 0 8.3333333333%;
  }
  .col-xl-2 {
    max-width: 16.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.6666666667%;
            flex: 0 0 16.6666666667%;
  }
  .col-xl-3 {
    max-width: 25%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
  .col-xl-4 {
    max-width: 33.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.3333333333%;
            flex: 0 0 33.3333333333%;
  }
  .col-xl-5 {
    max-width: 41.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.6666666667%;
            flex: 0 0 41.6666666667%;
  }
  .col-xl-6 {
    max-width: 50%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .col-xl-7 {
    max-width: 58.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.3333333333%;
            flex: 0 0 58.3333333333%;
  }
  .col-xl-8 {
    max-width: 66.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.6666666667%;
            flex: 0 0 66.6666666667%;
  }
  .col-xl-9 {
    max-width: 75%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }
  .col-xl-10 {
    max-width: 83.3333333333%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.3333333333%;
            flex: 0 0 83.3333333333%;
  }
  .col-xl-11 {
    max-width: 91.6666666667%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.6666666667%;
            flex: 0 0 91.6666666667%;
  }
  .col-xl-12 {
    max-width: 100%;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 1199px) {
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
  .col-xs-12, .col-xs-11, .col-xs-10, .col-xs-9, .col-xs-8, .col-xs-7, .col-xs-6, .col-xs-5, .col-xs-4, .col-xs-3, .col-xs-2, .col-xs-1 {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-xs-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xs-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-sm-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-sm-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-md-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-md-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-lg-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-lg-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.col-xl-first {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.col-xl-last {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.row-xs-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.row-xs-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-xs-bottom {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 576px) {
  .row-sm-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row-sm-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-sm-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 768px) {
  .row-md-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row-md-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-md-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 992px) {
  .row-lg-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row-lg-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-lg-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .row-xl-top {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .row-xl-center {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row-xl-bottom {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.row-xs-justify-top {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.row-xs-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-xs-justify-bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (min-width: 576px) {
  .row-sm-justify-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-sm-justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-sm-justify-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .row-md-justify-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-md-justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-md-justify-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 992px) {
  .row-lg-justify-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-lg-justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-lg-justify-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1200px) {
  .row-xl-justify-top {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .row-xl-justify-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .row-xl-justify-bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.col-xs-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xs-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xs-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-sm-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-sm-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-sm-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-md-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-md-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-md-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-lg-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-lg-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-lg-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.col-xl-top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.col-xl-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.col-xl-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.button {
  display: inline-block;
  padding: 0 16px 0;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0;
  font-size: 14px;
  line-height: 38px;
}

.button:focus, .button:hover {
  text-decoration: none;
  outline: 0;
}

@media (min-width: 992px) {
  .button {
    padding-right: 32px;
    padding-left: 32px;
  }
}

.button:focus, .button.focus, .button:active:focus, .button:active.focus, .button.active:focus, .button.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline: 0;
  outline-offset: -2px;
}

.button.focus {
  text-decoration: none;
}

.button:active, .button.active {
  outline: 0;
  background-image: none;
}

.button.disabled, .button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.button + .button {
  margin-top: 20px;
}

@media (min-width: 576px) {
  .button + .button {
    margin-top: 0;
    margin-left: 50px;
  }
}

a.button.disabled,
fieldset[disabled] a.button {
  pointer-events: none;
}

.button_primary {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary:hover {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary:focus {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary:active {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
  background-image: none;
}

.button_primary:active:hover, .button_primary:active:focus {
  color: #ffffff;
  border-color: #560c11;
  background-color: #7a1119;
}

.button_primary.disabled:focus, .button_primary:disabled:focus {
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary.disabled:hover, .button_primary:disabled:hover {
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary_outline {
  color: #c61b28;
  border-color: #c61b28;
  background-color: transparent;
  background-image: none;
}

.button_primary_outline:focus, .button_primary_outline:active {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary_outline:hover {
  color: #ffffff;
  border-color: #c61b28;
  background-color: #c61b28;
}

.button_primary_outline.disabled:focus, .button_primary_outline:disabled:focus {
  border-color: #e95e69;
}

.button_primary_outline.disabled:hover, .button_primary_outline:disabled:hover {
  border-color: #e95e69;
}

.button_info {
  color: #1b2733;
  border-color: #fedf32;
  background-color: #fedf32;
}

.button_info:hover {
  color: #1b2733;
  border-color: #fee765;
  background-color: #fee765;
}

.button_info:focus {
  color: #1b2733;
  border-color: #fee765;
  background-color: #fee765;
}

.button_info:active {
  color: #1b2733;
  border-color: #fee765;
  background-color: #fee765;
  background-image: none;
}

.button_info:active:hover, .button_info:active:focus {
  color: #1b2733;
  border-color: #b09501;
  background-color: #d8b801;
}

.button_info.disabled:focus, .button_info:disabled:focus {
  border-color: #fedf32;
  background-color: #fedf32;
}

.button_info.disabled:hover, .button_info:disabled:hover {
  border-color: #fedf32;
  background-color: #fedf32;
}

.button_round {
  width: 50px;
  min-width: 0;
  height: 50px;
  padding: 0;
  text-decoration: none;
  color: #1b2733;
  border-radius: 50%;
  line-height: 48px;
}

.button_round:focus, .button_round:hover {
  text-decoration: none;
  color: #1b2733;
}

.button_round .button__icon {
  vertical-align: middle;
  font-size: 23px;
}

.button_dashed {
  color: #1b2733;
  border: 1px dashed #1b2733;
}

.button_dashed:focus, .button_dashed:active, .button_dashed:hover {
  color: #c61b28;
  border-color: #c61b28;
}

.button_sm {
  padding: 0 10px 0;
  font-size: 14px;
  line-height: 28px;
}

.button_md {
  min-width: 200px;
}

@media (min-width: 576px) {
  .button_lg {
    min-width: 300px;
  }
  .button_xl {
    min-width: 400px;
  }
}

.button_link {
  text-transform: none;
  color: #637282;
  border-radius: 0;
  font-weight: normal;
}

.button_link:hover {
  border-color: transparent;
}

.button_link:focus, .button_link:hover {
  color: #c61b28;
  background-color: transparent;
}

.button_link, .button_link:active, .button_link.active, .button_link:disabled {
  background-color: transparent;
}

.button_link, .button_link:focus, .button_link:active {
  border-color: transparent;
}

.button_link:disabled:focus, .button_link:disabled:hover {
  text-decoration: none;
  color: #ebf0f5;
}

.button_block {
  display: block;
  width: 100%;
}

.button_block + .button_block {
  margin-top: 5px;
}

input[type="submit"].button_block,
input[type="reset"].button_block,
input[type="button"].button_block {
  width: 100%;
}

.form__control {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 22px 1px;
  -webkit-transition: color ease-in-out 0.15s;
          transition: color ease-in-out 0.15s;
  color: #637282;
  border: 0;
  border-radius: 3px;
  background: none;
  background-color: #ffffff;
  background-clip: padding-box;
  -webkit-box-shadow: inset 0 0 0 1px rgba(99, 114, 130, 0.3);
          box-shadow: inset 0 0 0 1px rgba(99, 114, 130, 0.3);
  font-family: "Roboto", Arial, "Helvetica Neue", sans-serif;
  font-size: 13px;
  line-height: 1.5384615385;
}

.form__control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.form__control::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.3);
}

.form__control:-ms-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.3);
}

.form__control::-ms-input-placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.3);
}

.form__control::placeholder {
  opacity: 1;
  color: rgba(99, 114, 130, 0.3);
}

.form__control:-ms-input-placeholder {
  color: rgba(99, 114, 130, 0.3);
}

.form__control:disabled, .form__control[readonly] {
  opacity: 1;
  border-color: #ebf0f5;
  background-color: #ebf0f5;
}

.form__control:disabled {
  cursor: not-allowed;
}

.form__control:focus, .form__control:active {
  outline: 0;
}

.has-error .form__control {
  color: #c61b28;
  -webkit-box-shadow: inset 0 0 0 2px #c61b28;
          box-shadow: inset 0 0 0 2px #c61b28;
}

.form__control.select:not([size]):not([multiple]) {
  height: calc(40px - 1px);
}

.form__control.select:focus::-ms-value {
  color: #637282;
}

.form__control-file, .form__control-range {
  display: block;
}

.form__upload {
  position: relative;
  display: inline-block;
  width: auto;
}

.form__upload-button {
  width: 168px;
  margin-right: 15px;
}

.form__upload-input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  opacity: 0;
}

.form__group {
  margin-bottom: 28px;
}

.form__group_center {
  text-align: center;
}

.form__group_submit {
  margin-top: 33px;
  margin-bottom: 0;
  text-align: center;
}

.form__group_centered {
  display: inline-block;
  vertical-align: top;
}

.form__label {
  display: block;
  margin-bottom: 11px;
  line-height: 1.1428571429;
}

.form__label-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 32px;
  margin-bottom: 11px;
  vertical-align: top;

  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.form__label-wrap .form__label {
  margin-bottom: 0;
}

.form__choice {
  margin-right: -21px;
  margin-left: -21px;
}

.form__range-slider {
  width: 100%;
}

.form__row + .form__row {
  margin-top: 33px;
}

.form__note {
  margin-top: 12px;
  line-height: 1.1428571429;
}

textarea.form__control {
  height: auto;
  min-height: 102px;
  padding-top: 12px;
}

.custom-control {
  position: relative;
  display: inline-block;
  margin-top: 7px;
  padding-left: 35px;
  cursor: pointer;
  -webkit-transition: color 0.25s ease-in-out;
          transition: color 0.25s ease-in-out;
  text-align: left;
}

.custom-control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-control__indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  color: inherit;
  border: 1px solid rgba(99, 114, 130, 0.5);
  border-radius: 50%;
  background-color: #ffffff;
}

.section_bg_black .custom-control__indicator {
  border-color: #ffffff;
  background-color: transparent;
}

.custom-control__input:checked ~ .custom-control__indicator:before,
.custom-control__input:active ~ .custom-control__indicator:before {
  position: absolute;
  top: 7px;
  left: 7px;
  width: 9px;
  height: 9px;
  content: "";
  border-radius: 50%;
  background-color: #fedf32;
}

.section_bg_black .custom-control {
  margin-top: 9px;
  font-size: 13px;
  line-height: 1.5384615385;
}

.form__choice .custom-control {
  margin-right: 21px;
  margin-left: 21px;
}

.range-slider {
  margin-top: 19px;
}

.range-slider.ui-corner-all,
.range-slider .ui-corner-all {
  border-radius: 0;
}

.range-slider.ui-slider {
  height: 3px;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.25s;
          transition: background 0.25s, -webkit-box-shadow 0.25s;
          transition: background 0.25s, box-shadow 0.25s;
          transition: background 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border: 0;
  border-radius: 5px;
  background-color: #637282;
}

.range-slider.ui-slider:focus, .range-slider.ui-slider:active, .range-slider.ui-slider:hover {
  background-color: #fedf32;
  -webkit-box-shadow: 0 0 0 3px #ffffff;
          box-shadow: 0 0 0 3px #ffffff;
}

.range-slider .ui-slider-handle {
  position: relative;
  top: 50%;
  width: 11px;
  height: 11px;
  margin-top: -4px;
  margin-left: 0;
  cursor: pointer;
  -webkit-transition: background 0.25s, -webkit-box-shadow 0.25s;
          transition: background 0.25s, -webkit-box-shadow 0.25s;
          transition: background 0.25s, box-shadow 0.25s;
          transition: background 0.25s, box-shadow 0.25s, -webkit-box-shadow 0.25s;
  border: none;
  border-radius: 50%;
  outline: 0;
  background-color: #637282;
}

.range-slider .ui-slider-handle:focus, .range-slider .ui-slider-handle:active, .range-slider .ui-slider-handle:hover {
  background-color: #fedf32;
  -webkit-box-shadow: 0 0 0 3px #ffffff;
          box-shadow: 0 0 0 3px #ffffff;
}

.range-slider .ui-slider-handle:focus:after, .range-slider .ui-slider-handle:active:after, .range-slider .ui-slider-handle:hover:after {
  position: absolute;
  top: 8px;
  left: -3px;
  display: block;
  width: 3px;
  height: 3px;
  content: "";
  background-color: #fedf32;
}

.range-slider .ui-slider-range-max {
  border-radius: 5px;
  background-color: #acb4be;
}

.range-slider-block {
  position: relative;
}

.range-slider__data {
  position: absolute;
  top: -36px;
  right: 0;
  color: #637282;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.1875;
}

.link_black {
  color: #1b2733;
}

.link_white {
  color: #ffffff;
}

.section_bg_black .link_white:hover,
.section_bg_black .link_white:focus {
  color: rgba(255, 255, 255, 0.5);
}

.link_underlined {
  text-decoration: underline;
}

.link_with_icon {
  position: relative;
  display: inline-block;
}

.link_with_icon .link__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.link_feedback {
  padding-left: 38px;
}

.link_feedback .link__icon {
  left: 0;
  color: #c61b28;
  font-size: 20px;
}

.tel {
  white-space: nowrap;
  text-decoration: none;
  color: #1b2733;
}

.tel:focus, .tel:hover {
  text-decoration: none;
  color: #1b2733;
}

.tel_lg {
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
}

.tooltip {
  display: inline-block;
  margin: 0 6px;
}

.tooltip__toggle {
  display: block;
  width: 15px;
  height: 15px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background-color: #637282;
  font-size: 11px;
  line-height: 1.3636363636;
}

.tooltip__toggle:focus, .tooltip__toggle:hover {
  background-color: #fedf32;
}

.tooltip.active .tooltip__toggle {
  background-color: #fedf32;
}

.tooltip__body {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  display: none;
  min-width: 290px;
  max-width: 345px;
  margin: 0 15px;
  padding: 39px 25px 30px 33px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  border: 1px solid rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  background-color: #ffffff;
  font-size: 11px;
  line-height: 1.5454545455;
}

.tooltip.active .tooltip__body {
  display: block;
}

.tooltip__close {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  pointer-events: all;
  color: #637282;
  border: 0;
  outline: 0;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 15px;
}

.tooltip__close:focus, .tooltip__close:active, .tooltip__close:hover {
  text-decoration: none;
  color: rgba(99, 114, 130, 0.5);
  outline: 0;
}

@media (min-width: 992px) {
  .tooltip {
    position: relative;
  }
  .tooltip__body {
    left: auto;
    width: 345px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .tooltip_right .tooltip__body {
    left: 100%;
    margin-left: 22px;
  }
  .tooltip_left .tooltip__body {
    right: 100%;
    margin-right: 22px;
  }
}

.section .container {
  padding-top: 79px;
  padding-bottom: 90px;
}

.section__title {
  text-align: center;
}

.section__subtext {
  margin-top: -11px;
  text-align: center;
}

.section_border_bottom .container {
  padding-bottom: 89px;
  border-bottom: 1px solid #637282;
}

.section_border_bottom_light .container {
  padding-bottom: 88px;
  border-bottom: 2px solid #ebf0f5;
}

.section_bg_gray {
  background-color: #ebf0f5;
}

.section_bg_black {
  position: relative;
  color: #ffffff;
  background-color: #000000;
}

.section_bg_black:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  opacity: 0.5;
  background-attachment: fixed;
  background-position: 50%;
  background-size: cover;
}

.section_bg_black .container {
  position: relative;
}

.section_bg_black h1, .section_bg_black h2, .section_bg_black h3, .section_bg_black h4, .section_bg_black h5, .section_bg_black h6,
.section_bg_black .h1, .section_bg_black .h2, .section_bg_black .h3, .section_bg_black .h4, .section_bg_black .h5, .section_bg_black .h6 {
  color: #ffffff;
}

.section .section {
  padding-top: 84px;
}

.location {
  display: inline-block;
  max-width: 118px;
  vertical-align: middle;
}

.location .dropdown-toggle {
  overflow: hidden;
  max-width: 100%;
  padding-right: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #c61b28;
  border: 0;
  outline: 0;
  background: none;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.248l.342.365.398-.373-.406-.364L9 1.248zM8.724 1l.334-.372L8.716.32 8.38.636 8.724 1zm-3.73 3.504l-.343.364.342.323.343-.322-.342-.365zM1.276 1L1.62.636 1.285.321.942.628 1.276 1zM1 1.248L.666.876l-.405.363.397.373L1 1.248zM4.994 5l-.343.364.342.322.343-.321L4.994 5zM9.334.876L9.058.628l-.668.744.276.248.668-.744zM8.38.636L4.651 4.14l.685.729 3.73-3.505-.685-.728H8.38zM5.337 4.14L1.619.636l-.686.728 3.718 3.504.686-.727V4.14zM.942.628L.666.876l.668.744.276-.248L.942.628zm-.284.984L4.65 5.364l.685-.728L1.342.883l-.684.73v-.001zM4.994 5l.342.365 4.006-3.752-.684-.73-3.765 3.526L1.276 1 1 1.248 4.994 5z' fill='%23C61B28'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.location .dropdown-menu {
  right: 0;
  left: auto;
  border-radius: 3px;
}

@media (min-width: 1200px) {
  .location .dropdown-menu {
    right: auto;
    left: 0;
  }
}

.header {
  text-align: center;
  color: #1b2733;
}

.header__container {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #637282;
}

.header__logo {
  position: relative;
  top: 7px;
  display: inline-block;
  margin: auto;
}

.header__logo-img {
  display: block;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts-feedback {
  margin-top: 23px;
  margin-bottom: 23px;
}

.header__contacts-button {
  margin-bottom: 20px;
}

.header__contacts-tel {
  display: block;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .header {
    text-align: left;
  }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__logo {
    margin-left: 0;
  }
  .header__contacts {
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .header__contacts-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
            flex-direction: column;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contacts-feedback {
    margin-top: 0;
  }
  .header__contacts-button {
    margin-bottom: 0;
  }
  .header__contacts-location {
    margin-left: 25px;
  }
  .header__contacts-tel {
    margin-top: 6px;
  }
}

@media (min-width: 992px) {
  .header__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__contacts-links {
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
  }
  .header__contacts-feedback {
    margin-bottom: 0;
  }
  .header__contacts-button {
    margin-left: 25px;
  }
  .header__contacts-location {
    margin-left: 25px;
  }
}

@media (min-width: 1200px) {
  .header__container {
    padding-right: 0;
    padding-left: 0;
  }
  .header__contacts-button {
    margin-left: 50px;
  }
  .header__contacts-location {
    margin-left: 100px;
  }
}

.nav__container {
  border-bottom: 1px solid #637282;
}

.nav__toggle {
  width: 40px;
  height: 40px;
  margin-left: -15px;
  padding: 0;
  color: #c61b28;
  border: 0;
  outline: 0;
  background: none;
  font-size: 20px;
}

.nav__toggle:focus, .nav__toggle:active, .nav__toggle:hover {
  outline: 0;
}

.nav__list {
  position: absolute;
  z-index: 10;
  top: 100%;
  right: 0;
  left: 0;
  display: none;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style: none;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.nav__item {
  position: relative;
}

.nav__link {
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
  color: #1b2733;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2307692308;
}

.nav__link:hover, .nav__link:focus,
.nav__item:hover .nav__link,
.nav__item:focus .nav__link {
  text-decoration: none;
  color: #ffffff;
  background-color: #c61b28;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.nav__link.active {
  text-decoration: underline;
  color: #c61b28;
}

.nav__subnav {
  margin-left: 15px;
}

@media (min-width: 992px) {
  .nav__toggle {
    display: none;
  }
  .nav__list {
    position: static;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    padding-top: 0;
    padding-bottom: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;

    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav__link {
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .nav__subnav {
    position: absolute;
    z-index: 1;
    top: 100%;
    right: 0;
    left: 0;
    display: block !important;
    visibility: hidden;
    margin-left: 0;
    -webkit-transition: 0.25s;
            transition: 0.25s;
    opacity: 0;
  }
  .nav__item:hover .nav__subnav,
  .nav__item:focus .nav__subnav {
    visibility: visible;
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .nav__link {
    font-size: 14px;
    line-height: 1.1428571429;
  }
}

.subnav {
  background-color: #ffffff;
}

.subnav__list {
  padding: 0;
  list-style: none;
}

.subnav__link {
  display: block;
  padding: 7px 15px;
  font-size: 13px;
  line-height: 1.2307692308;
}

.subnav__link:focus, .subnav__link:hover {
  text-decoration: none;
}

.subnav__link.active {
  color: #c61b28;
}

@media (min-width: 992px) {
  .subnav {
    padding-top: 13px;
    padding-bottom: 16px;
    text-align: center;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  }
  .subnav__link {
    padding-top: 11px;
    padding-bottom: 11px;
  }
}

.footer {
  text-align: center;
  color: #1b2733;
}

.footer__top-container {
  padding-top: 108px;
  padding-bottom: 60px;
  border-bottom: 1px solid #637282;
}

.footer__bottom {
  padding-top: 38px;
  padding-bottom: 38px;
}

.footer__left {
  margin-bottom: 20px;
}

.footer__link {
  margin-right: 1rem;
  white-space: nowrap;
}

.footer__nav {
  white-space: nowrap;
}

.footer__nav-section {
  margin-bottom: 31px;
}

.footer__nav-list {
  margin-top: 32px;
  padding: 0;
  list-style: none;
}

.footer__nav-item {
  margin-bottom: 17px;
  line-height: 1.1428571429;
}

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts__left {
  margin-bottom: 0;
}

.footer__contacts-tel {
  display: block;
  margin-bottom: 6px;
}

.footer__contacts-email {
  display: block;
  margin-bottom: 23px;
}

.footer__contacts-button {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  .footer {
    text-align: left;
  }
  .footer__bottom .footer__right {
    text-align: right;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__nav-section:not(:last-child) {
    margin-right: 49px;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .footer__nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .footer__contacts {
            flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__contacts-email {
    margin-bottom: 0;
  }
  .footer__contacts-button {
    margin-bottom: 0;
  }
}

@media (min-width: 992px) {
  .footer__left {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .footer__right {
    max-width: 350px;
    text-align: right;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
  .footer__nav-section:not(:last-child) {
    margin-right: 79px;
  }
  .footer__contacts {
    margin-top: -7px;

    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

@media (min-width: 1200px) {
  .footer .container {
    padding-right: 100px;
    padding-left: 100px;
  }
}

.breadcrumbs {
  margin-bottom: -19px;
  padding-top: 38px;
}

.breadcrumbs__list {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 0;
}

.breadcrumbs__item {
  display: inline-block;
  white-space: nowrap;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #c61b28;
  font-size: 11px;
  line-height: 1.4545454545;
}

.breadcrumbs__item:after {
  margin-right: 4px;
  content: "-";
  color: #c1c5c9;
}

.breadcrumbs__item:last-child:after {
  content: "";
}

.breadcrumbs__link {
  color: #c1c5c9;
}

.about__container {
  padding-top: 120px;
}

.about__img-placeholder {
  display: none;
}

.about__text {
  margin-bottom: 74px;
}

@media (min-width: 992px) {
  .about__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about__img-placeholder {
    display: block;
    margin-right: 101px;
  }
  .about__img {
    display: block;
  }
  .about__content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

@media (min-width: 1200px) {
  .about__container {
    padding-right: 0;
    padding-left: 0;
  }
  .about__img-placeholder {
    width: 500px;
    margin-right: 0;
  }
}

.types {
  text-align: center;
}

.types__list {
  padding-top: 37px;
}

.types__item {
  margin-bottom: 42px;
}

.types__icon {
  display: block;
  height: 82px;
  margin-bottom: 32px;
  font-size: 82px;
  line-height: 82px;
}

.types__text {
  margin-bottom: 47px;
}

.workflow {
  text-align: center;
}

.workflow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -25px;
  padding: 0;
  padding-top: 29px;
  list-style: none;
  counter-reset: workflow-counter;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.workflow__item {
  position: relative;
  width: 250px;
  margin: 0 25px 34px;
}

.workflow__item:before {
  position: absolute;
  z-index: 10;
  top: 30px;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-left: -72px;
  content: counter(workflow-counter);
  counter-increment: workflow-counter;
  text-align: center;
  color: #637282;
  border: 5px solid #ffffff;
  border-radius: 50%;
  background-color: #fedf32;
  font-weight: 700;
  line-height: 30px;
}

.workflow__icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 21px;
  border-radius: 50%;
  background-color: #ebf0f5;
  font-size: 42px;
  line-height: 100px;
}

.workflow__item_primary .workflow__icon {
  color: #ffffff;
  background-color: #c61b28;
}

.workflow__title {
  margin-bottom: 5px;
  color: #637282;
}

@media (min-width: 580px) {
  .workflow__item:after {
    position: absolute;
    top: 49px;
    left: 100%;
    display: block;
    width: 150px;
    margin: 0 25px;
    margin-left: -50px;
    content: "";
    border-top: 1px solid #637282;
  }
  .workflow__item:nth-child(even):after {
    display: none;
  }
  .workflow__item:last-child:after {
    display: none;
  }
}

@media (min-width: 880px) {
  .workflow__item:nth-child(even):after {
    display: block;
  }
  .workflow__item:nth-child(3n):after {
    display: none;
  }
}

@media (min-width: 1180px) {
  .workflow__item:nth-child(3n):after {
    display: block;
  }
  .workflow__item:nth-child(4n):after {
    display: none;
  }
}

.feedback {
  text-align: center;
  background-color: #1b2733;
}

.feedback:before {
  opacity: 0.2;
  background-image: url(/i/discussion-lg.jpg);

  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min--moz-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (-webkit-min-device-pixel-ratio: 2.0833333333), only screen and (-webkit-min-device-pixel-ratio: 2.0833333333333335), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  .feedback:before {
    background-image: url(/i/discussion-lg@2x.jpg);
  }
}

.feedback__form {
  padding-top: 13px;
}

.features__item:not(:last-child) {
  margin-bottom: 75px;
}

.features_sm .features__item:not(:last-child) {
  margin-bottom: 45px;
}

.features__item-img-placeholder {
  margin-bottom: 30px;
}

.features_sm .features__container {
  padding-top: 50px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .features__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .features__item:nth-child(even) {
            flex-direction: row-reverse;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
  }
  .features__item-img-placeholder {
    display: block;
    width: 200px;
    margin-right: 50px;
    margin-bottom: 0;
  }
  .features__item:nth-child(even) .features__item-img-placeholder {
    margin-right: 0;
    margin-left: 50px;
  }
  .features_sm .features__item-img-placeholder {
    width: 250px;
  }
  .features__item-img {
    display: block;
    border-radius: 50%;
  }
  .features__item-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
  .features_sm .features__item-title {
    margin-bottom: 25px;
  }
}

@media (min-width: 992px) {
  .features__item-img-placeholder {
    width: 350px;
  }
  .features_sm .features__item-img-placeholder {
    width: 250px;
    margin-right: 25px;
    margin-left: -25px;
  }
  .features_sm .features__item:nth-child(even) .features__item-img-placeholder {
    margin-right: -25px;
    margin-left: 25px;
  }
  .features__item-content {
    padding-left: 50px;
  }
  .features__item:nth-child(even) .features__item-content {
    padding-right: 50px;
  }
  .features_sm .features__item:nth-child(even) .features__item-content {
    padding-left: 0;
  }
}

.cases {
  text-align: center;
}

.cases__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -25px;
  margin-left: -25px;
  padding-top: 28px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cases__item {
  width: 272px;
  margin-bottom: 75px;
  padding-right: 25px;
  padding-left: 25px;
  color: #1b2733;
}

.cases__item-img-placeholder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  height: 225px;
  margin: 0 auto 43px;
  -webkit-transition: 0.25s;
          transition: 0.25s;
  border: 1px solid #ebf0f5;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.cases__item-img {
  display: block;
  margin: auto;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}

.cases__item-title {
  letter-spacing: normal;
  font-weight: 400;
}

.cases_reviews .cases__item-title {
  margin-top: 19px;
}

.cases__item-text {
  line-height: 1.2142857143;
}

.cases_reviews .cases__item-text {
  line-height: 1.4285714286;
}

.cases__item-text p:not(:last-child) {
  margin-bottom: 15px;
}

.cases__item-action {
  margin-top: 20px;
}

.cases_reviews .cases__item-button {
  min-width: 117px;
}

.cases__item:focus, .cases__item:hover {
  color: #c61b28;
}

.cases__item:focus .cases__item-title, .cases__item:hover .cases__item-title {
  color: #c61b28;
}

.cases__item:focus .cases__item-img-placeholder, .cases__item:hover .cases__item-img-placeholder {
  width: 170px;
  height: 239px;
  margin-top: -8px;
  margin-bottom: 37px;
  border: 3px solid #fedf32;
}

.cases__item:focus .cases__item-button, .cases__item:hover .cases__item-button {
  color: #c61b28;
  border-color: #c61b28;
}

.cases__action {
  margin-top: -11px;
}

@media (min-width: 1200px) {
  .cases__list {
    width: 1088px;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.faq {
  text-align: center;
  color: #1b2733;
}

.faq__list {
  padding-top: 8px;
}

.faq__item:not(:last-child):after {
  display: block;
  width: 200px;
  margin: 37px auto 33px;
  content: "";
  border-top: 1px solid #637282;
}

.faq__item-title {
  margin-bottom: 15px;
  letter-spacing: normal;
  color: #c61b28;
  font-weight: 400;
}

.faq__item-text {
  line-height: 1.2142857143;
}

.faq__item-text a[class*="more"] {
  position: relative;
  padding-left: 14px;
}

.faq__item-text a[class*="more"]:before {
  position: absolute;
  left: 0;
  content: "...";
  color: #1b2733;
}

.faq__action {
  margin-top: 78px;
}

.contacts__map {
  height: 500px;
}

.contacts__popup {
  padding: 70px;
  color: #1b2733;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  font-weight: 500;
  line-height: 1.1428571429;
  /*position:absolute;
        left:50%;
        top:50%;
        transform:translate(-50%, -50%);
        display:none;*/
}

.contacts__popup p {
  margin-bottom: 17px;
}

.contacts .contacts__container {
  padding-top: 59px;
}

.contacts .section__title {
  margin-bottom: -15px;
}

.contacts__item {
  margin-bottom: 29px;
  color: #1b2733;
  line-height: 1.1428571429;
}

.contacts__item p:not(:last-child) {
  margin-bottom: 17px;
}

@media (min-width: 992px) {
  .contacts__popup {
    width: 400px;
  }
  .contacts__left {
    max-width: 300px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
            flex: 0 0 300px;
  }
  .contacts__right {
    max-width: 750px;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 750px;
            flex: 0 0 750px;
  }
}

.gm-style-iw {
  overflow: visible !important;
}

.gm-style-iw div {
  overflow: visible !important;
}

.stats {
  text-align: center;
}

.stats__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -25px;
  margin-bottom: -43px;
  margin-left: -25px;
  padding: 0;
  padding-top: 13px;
  list-style: none;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stats__item {
  position: relative;
  width: 200px;
  margin-bottom: 34px;
  padding-right: 25px;
  padding-left: 25px;
}

.stats__item-number {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  color: #1b2733;
  border-radius: 50%;
  background-color: #ebf0f5;
  font-size: 30px;
  font-weight: 700;
  line-height: 100px;
}

.stats__item-title {
  color: #637282;
  font-weight: 700;
  line-height: 1.1428571429;
}

.docs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.docs__item {
  line-height: 1.2857142857;
}

.docs__item:focus, .docs__item:hover {
  text-decoration: none;
}

.docs__item:focus .docs__link, .docs__item:hover .docs__link {
  text-decoration: underline;
}

.docs__icon {
  color: #637282;
}

.docs__format {
  display: block;
  color: #637282;
}

.docs_inline .docs__item {
  position: relative;
  min-height: 40px;
  padding-left: 54px;
}

.docs_inline .docs__icon {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 40px;
}

.docs_stacked .docs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -20px;
  margin-bottom: -40px;
  margin-left: -20px;
  padding-top: 19px;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.docs_stacked .docs__item {
  width: 200px;
  margin-bottom: 40px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
}

.docs_stacked .docs__icon {
  display: block;
  margin-bottom: 19px;
  font-size: 75px;
}

@media (min-width: 576px) {
  .docs_requisites {
    margin-left: 94px;
  }
}

@media (min-width: 992px) {
  .docs_inline .docs__item {
    padding-left: 74px;
  }
}

.articles__item {
  padding-top: 35px;
  padding-bottom: 37px;
  border-bottom: 2px solid #ebf0f5;
}

.articles__item-img-placeholder {
  display: block;
  width: 270px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.articles__item-img {
  display: block;
}

.articles__item-date {
  margin-top: -5px;
  margin-bottom: 18px;
}

.articles__item-title {
  margin-bottom: 16px;
  font-weight: 700;
}

.articles__item-text {
  margin-bottom: 19px;
}

.articles__action {
  margin-top: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .articles__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .articles__item-img-placeholder {
    max-width: 270px;
    margin-right: 30px;
    margin-bottom: 0;

    -webkit-box-flex: 0;
        -ms-flex: 0 0 270px;
            flex: 0 0 270px;
  }
  .articles__item-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
  }
}

@media (min-width: 992px) {
  .articles__item-content {
    padding-right: 50px;
  }
}

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -33px;
  margin-left: -32px;
  padding: 0;
  list-style: none;
  counter-reset: workflow-counter;
  text-align: center;

  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.steps__item {
  position: relative;
  margin-right: 33px;
  margin-left: 32px;
}

.steps__item:before {
  position: relative;
  z-index: 1;
  display: block;
  width: 34px;
  height: 34px;
  content: counter(workflow-counter);
  counter-increment: workflow-counter;
  text-align: center;
  color: #637282;
  border: 2px solid #637282;
  border-radius: 50%;
  font-weight: 700;
  line-height: 30px;
}

.steps__item:not(:last-child):after {
  position: absolute;
  top: 50%;
  left: 100%;
  display: block;
  width: 67px;
  margin-top: -1px;
  margin-right: -1px;
  margin-left: -1px;
  content: "";
  border-top: 1px dotted #637282;
}

.steps__item.active:before {
  width: 36px;
  height: 36px;
  border-width: 3px;
  border-color: #fedf32;
  background-color: #ffffff;
}

.calculator__steps {
  margin-bottom: 32px;
  padding-top: 19px;
}

.calculator .form__col {
  position: relative;
  text-align: center;
}

.calculator .form__group {
  text-align: left;
}

.calculator .form__group_submit, .calculator .form__group_center {
  text-align: center;
}

.calculator .form__group_submit {
  margin-top: 39px;
}

.calculator__result {
  margin-top: 8px;
  margin-bottom: 0;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  text-transform: none;
  color: #c61b28;
  border: 1px solid rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  background-color: #ffffff;
}

.calculator__text {
  max-width: 700px;
  margin: -10px auto 34px;
  text-align: center;
  color: #1b2733;
  font-weight: 500;
}

.calculator .slick-initialized .slick-slide {
  height: 0;
}

.calculator .slick-initialized .slick-slide.slick-current {
  height: auto;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  -webkit-touch-callout: none;
  -ms-touch-action: pan-y;
      touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-track:before, .slick-track:after {
  display: table;
  content: "";
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
  outline: 0;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #ffffff slick-image-url("ajax-loader.gif") center center no-repeat;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  z-index: 9;
  top: 50%;
  width: 21px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: auto;
  color: transparent;
  border: none;
  outline: none;
  background: none;
  font-size: 0;
}

.slick-prev:before,
.slick-next:before {
  color: #ffffff;
  font-size: 40px;
}

.slick-prev:focus, .slick-prev:hover,
.slick-next:focus,
.slick-next:hover {
  outline: none;
}

.slick-prev:focus:before, .slick-prev:hover:before,
.slick-next:focus:before,
.slick-next:hover:before {
  color: #c61b28;
}

.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
}

.slick-prev {
  left: 0;
}

[dir="rtl"] .slick-prev {
  right: 0;
  left: auto;
}

.slick-next {
  right: 0;
}

[dir="rtl"] .slick-next {
  right: auto;
  left: 0;
}

/* Dots */
.slick-dots {
  position: absolute;
  right: 0;
  bottom: 29px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  text-align: center;

  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slick-dots li {
  position: relative;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  display: block;
  width: 10px;
  height: 10px;
  padding: 0;
  cursor: pointer;
  -webkit-transition: all 0.25s;
          transition: all 0.25s;
  color: transparent;
  border: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  outline: none;
  background-color: transparent;
  font-size: 0;
  line-height: 0;
}

.slick-dots li button:focus, .slick-dots li button:hover {
  width: 10px;
  height: 10px;
  outline: none;
  background-color: #ffffff;
}

.slick-dots li.slick-active button {
  width: 10px;
  height: 10px;
  opacity: 1;
  background-color: #ffffff;
}

.hero {
  margin-top: -1px;
  text-align: center;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;
  min-height: 492px;
  padding-top: 50px;
  padding-bottom: 50px;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__slider {
  position: static;
}

.hero__slider .slick-list,
.hero__slider .slick-track {
  height: 100%;
}

.hero__slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__slider.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
          flex-direction: column;

  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: 0.3s;
          transition: 0.3s;
  opacity: 0.5;
  background-position: 50%;
  background-size: cover;
}

.hero__title {
  margin-bottom: 21px;
  font-size: 36px;
  font-weight: 100;
  line-height: 1.1666666667;
}

.hero__action {
  position: relative;
  z-index: 10;
  margin-top: 27px;
}

@media (max-width: 575px) {
  .hero .container {
    padding-bottom: 80px;
  }
}

@media (min-width: 992px) {
  .hero__title {
    font-size: 72px;
    line-height: 0.8333333333;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hero .container {
    padding-right: 70px;
    padding-left: 70px;
  }
  .hero__slider .slick-prev {
    left: 20px;
  }
  [dir="rtl"] .hero__slider .slick-prev {
    right: 20px;
    left: auto;
  }
  .hero__slider .slick-next {
    right: 20px;
  }
  [dir="rtl"] .hero__slider .slick-next {
    right: auto;
    left: 20px;
  }
}

select.bs-select-hidden,
select.selectpicker {
  display: none !important;
}

.bootstrap-select {
  /*IE9 and below*/
  position: relative;
  width: 100% \0;
}

.bootstrap-select .color {
  position: relative;
  top: -1px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  vertical-align: middle;
  border-radius: 100%;
}

.bootstrap-select > .dropdown-toggle {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0;
  text-align: center;
  border-color: rgba(99, 114, 130, 0.3);
  border-radius: 3px;
  outline: 0;

  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bootstrap-select > .dropdown-toggle.bs-placeholder, .bootstrap-select > .dropdown-toggle.bs-placeholder:hover, .bootstrap-select > .dropdown-toggle.bs-placeholder:focus, .bootstrap-select > .dropdown-toggle.bs-placeholder:active {
  color: rgba(99, 114, 130, 0.3);
}

.bootstrap-select > select {
  position: absolute !important;
  bottom: 0;
  left: 50%;
  display: block !important;
  width: 0.5px !important;
  height: 100% !important;
  padding: 0 !important;
  opacity: 0 !important;
  border: none;
}

.bootstrap-select > select.mobile-device {
  z-index: 2;
  top: 0;
  left: 0;
  display: block !important;
  width: 100% !important;
}

.has-error .bootstrap-select .dropdown-toggle,
.error .bootstrap-select .dropdown-toggle {
  border-color: #c61b28;
}

.bootstrap-select.fit-width {
  width: auto !important;
}

.bootstrap-select:not([class*="col-"]):not([class*="form__control"]):not(.input-group-btn) {
  width: 100%;
}

.bootstrap-select.form-control {
  margin-bottom: 0;
  padding: 0;
  border: none;
}

.bootstrap-select.form-control:not([class*="col-"]) {
  width: 100%;
}

.bootstrap-select.form-control.input-group-btn {
  z-index: auto;
}

.bootstrap-select.form-control.input-group-btn:not(:first-child):not(:last-child) > .btn {
  border-radius: 0;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  display: inline-block;
  float: none;
  margin-left: 0;
}

.bootstrap-select.btn-group.dropdown-menu-right, .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right,
.row .bootstrap-select.btn-group[class*="col-"].dropdown-menu-right {
  float: right;
}

.form-inline .bootstrap-select.btn-group,
.form-horizontal .bootstrap-select.btn-group,
.form-group .bootstrap-select.btn-group {
  margin-bottom: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control,
.form-group-sm .bootstrap-select.btn-group.form-control {
  padding: 0;
}

.form-group-lg .bootstrap-select.btn-group.form-control .dropdown-toggle,
.form-group-sm .bootstrap-select.btn-group.form-control .dropdown-toggle {
  height: 100%;
  border-radius: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form-inline .bootstrap-select.btn-group .form-control {
  width: 100%;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group > .disabled {
  cursor: not-allowed;
}

.bootstrap-select.btn-group.disabled:focus,
.bootstrap-select.btn-group > .disabled:focus {
  outline: none !important;
}

.bootstrap-select.btn-group.bs-container {
  position: absolute;
  height: 0 !important;
  padding: 0 !important;
}

.bootstrap-select.btn-group.bs-container .dropdown-menu {
  z-index: 1060;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
  display: block;
  overflow: hidden;
  width: 50%;
  height: 38px;
  padding: 0 0 0 20px;
  text-align: left;
  text-overflow: ellipsis;
  font-size: 13px;
  line-height: 2.9230769231;

  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.bootstrap-select.btn-group .dropdown-toggle .bs-caret {
  display: block;
  width: 46px;
  height: 38px;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 1.248l.342.365.398-.373-.406-.364L9 1.248zM8.724 1l.334-.372L8.716.32 8.38.636 8.724 1zm-3.73 3.504l-.343.364.342.323.343-.322-.342-.365zM1.276 1L1.62.636 1.285.321.942.628 1.276 1zM1 1.248L.666.876l-.405.363.397.373L1 1.248zM4.994 5l-.343.364.342.322.343-.321L4.994 5zM9.334.876L9.058.628l-.668.744.276.248.668-.744zM8.38.636L4.651 4.14l.685.729 3.73-3.505-.685-.728H8.38zM5.337 4.14L1.619.636l-.686.728 3.718 3.504.686-.727V4.14zM.942.628L.666.876l.668.744.276-.248L.942.628zm-.284.984L4.65 5.364l.685-.728L1.342.883l-.684.73v-.001zM4.994 5l.342.365 4.006-3.752-.684-.73-3.765 3.526L1.276 1 1 1.248 4.994 5z' fill-rule='nonzero' fill='%230777E8'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 50%;
}

.bootstrap-select.btn-group[class*="col-"] .dropdown-toggle {
  width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu {
  min-width: 100%;
}

.bootstrap-select.btn-group .dropdown-menu.inner {
  position: static;
  float: none;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.bootstrap-select.btn-group .dropdown-menu li {
  position: relative;
}

.bootstrap-select.btn-group .dropdown-menu li.active small {
  color: #ffffff;
}

.bootstrap-select.btn-group .dropdown-menu li.disabled a {
  cursor: not-allowed;
}

.bootstrap-select.btn-group .dropdown-menu li a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.bootstrap-select.btn-group .dropdown-menu li a.opt {
  position: relative;
  padding-left: 2.25em;
}

.bootstrap-select.btn-group .dropdown-menu li a span.check-mark {
  display: none;
}

.bootstrap-select.btn-group .dropdown-menu li a span.text {
  display: inline-block;
}

.bootstrap-select.btn-group .dropdown-menu li a:focus, .bootstrap-select.btn-group .dropdown-menu li a:hover {
  border-bottom: 0;
}

.bootstrap-select.btn-group .dropdown-menu li small {
  padding-left: 0.5em;
}

.bootstrap-select.btn-group .dropdown-menu .notify {
  position: absolute;
  bottom: 5px;
  width: 96%;
  min-height: 26px;
  margin: 0 2%;
  padding: 3px 5px;
  pointer-events: none;
  opacity: 0.9;
  border: 1px solid #e3e3e3;
  background: whitesmoke;
}

.bootstrap-select.btn-group .no-results {
  margin: 0 5px;
  padding: 3px;
  white-space: nowrap;
  background: #f5f5f5;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .filter-option {
  position: static;
}

.bootstrap-select.btn-group.fit-width .dropdown-toggle .caret {
  position: static;
  top: auto;
  margin-top: -1px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a span.check-mark {
  position: absolute;
  right: 15px;
  display: inline-block;
  margin-top: 5px;
}

.bootstrap-select.btn-group.show-tick .dropdown-menu li a span.text {
  margin-right: 34px;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle {
  z-index: 1061;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:before {
  position: absolute;
  bottom: -4px;
  left: 9px;
  display: none;
  content: "";
  border-right: 7px solid transparent;
  border-bottom: 7px solid rgba(204, 204, 204, 0.2);
  border-left: 7px solid transparent;
}

.bootstrap-select.show-menu-arrow .dropdown-toggle:after {
  position: absolute;
  bottom: -4px;
  left: 10px;
  display: none;
  content: "";
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  border-left: 6px solid transparent;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:before {
  top: -3px;
  bottom: auto;
  border-top: 7px solid rgba(204, 204, 204, 0.2);
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.dropup .dropdown-toggle:after {
  top: -3px;
  bottom: auto;
  border-top: 6px solid white;
  border-bottom: 0;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:before {
  right: 12px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.pull-right .dropdown-toggle:after {
  right: 13px;
  left: auto;
}

.bootstrap-select.show-menu-arrow.open > .dropdown-toggle:before, .bootstrap-select.show-menu-arrow.open > .dropdown-toggle:after {
  display: block;
}

.bs-searchbox,
.bs-actionsbox,
.bs-donebutton {
  padding: 4px 8px;
}

.bs-actionsbox {
  width: 100%;
}

.bs-actionsbox .btn-group button {
  width: 50%;
}

.bs-donebutton {
  float: left;
  width: 100%;
}

.bs-donebutton .btn-group button {
  width: 100%;
}

.bs-searchbox + .bs-actionsbox {
  padding: 0 8px 4px;
}

.bs-searchbox .form-control {
  float: none;
  width: 100%;
  margin-bottom: 0;
}

.hidden-xs-up {
  display: none !important;
}

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important;
  }
}

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important;
  }
}

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important;
  }
}

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important;
  }
}

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important;
  }
}

.hidden-xl-down {
  display: none !important;
}
/*# sourceMappingURL=main.css.map */